<footer>
				<div class="footer-sup inner-container">
					<div class="infos">
						<div class="brand">MeetMeal</div>
						<div><br>Association loi 1901<br>68B Quai de la Loire<br>75019 Paris</div>
				  	</div>
					<div class="newsletter2">
						<div class="abo">Abonnement à la newsletter</div>
						<div class="form">
							<input class="mail" type="text" placeholder="votre adresse mail">
				  			<input type="submit" value="OK" class="ok-btn">
				  		</div>
				  	</div>
				</div> <!-- end footer-sup -->

				<div class="footer-inf">
					<ul class="narrower-container">
						<li class="left">
							&copy; MeetMeal
						</li>				
						<li class="liens">
							<a href="#">Mentions légales</a>
							<a href="#">Nous contacter</a>
							<a href="#">Nous rejoindre</a>
						</li>
						<li class="social">
							<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
							<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
						</li> <!-- end social -->
					</ul> <!-- end narrower-container -->
				</div> <!-- end footer-inf -->
			</footer>
  		</div> <!-- end container -->

		<script src="js/jquery-2.1.1.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>